.demo-wrapper {
  transition: all 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.bumper {
  transition: all 0.1s ease; 
}
.button-inner button, .button-inner button:hover {
  cursor: none; 
}
.bumper {
  padding: 75px;
  overflow: auto;
  /* outline: 1px solid red; */
}